.idea/
.vscode/
.fleet/
.venv/
.tox/
docs/.gitkeep
.envrc
latex_error.log

.ipynb_checkpoints/
.DS_Store
__pycache__/

node_modules
tsconfig.tsbuildinfo

/.out/
/.sphinx-artifacts/
poetry.lock
pyproject.toml
