.idea/
.vscode/
.fleet/
.venv/
.tox/
.envrc

.ipynb_checkpoints/
.DS_Store
__pycache__/

node_modules
tsconfig.tsbuildinfo

.out/
poetry.lock
pyproject.toml

/docs/api/qiskit-sphinx-theme-example-docs
/public/api/qiskit-sphinx-theme-example-docs
