# We pin to exact versions for a more reproducible and
# stable build.

qiskit[all]~=2.0.0
qiskit-ibm-runtime~=0.37.0
qiskit-aer~=0.17
qiskit-serverless~=0.21.0
qiskit-ibm-catalog~=0.5.0
qiskit-addon-sqd~=0.10.0
qiskit-addon-utils~=0.1.0
qiskit-addon-mpf~=0.3.0
qiskit-addon-aqc-tensor~=0.2.0
qiskit-addon-obp~=0.2.0
qiskit-addon-cutting~=0.10.0
scipy~=1.15.2
scikit-learn~=1.6.1
pyscf~=2.8.0; sys.platform != 'win32'
networkx~=3.4.2
