# We pin to exact versions for a more reproducible and
# stable build.
nbconvert~=7.16.0
nbformat~=5.9.2
ipykernel~=6.29.2
qiskit[all]~=1.0
qiskit-aer~=0.13.1
qiskit-ibm-runtime~=0.21.1
squeaky==0.6.0
