# We pin to exact versions for a more reproducible and
# stable build.

qiskit[all]~=2.1.0
qiskit-ibm-runtime~=0.40.1
qiskit-ibm-transpiler[ai-local-mode]~=0.13.0
qiskit-aer~=0.17
qiskit-serverless~=0.24.0
qiskit-ibm-catalog~=0.8.0
qiskit-addon-sqd~=0.11.0
qiskit-addon-utils~=0.1.1
qiskit-addon-mpf~=0.3.0
qiskit-addon-aqc-tensor[aer,quimb-jax]~=0.2.0
qiskit-addon-obp~=0.3.0
qiskit-addon-cutting~=0.10.0
qiskit-experiments~=0.11.0
scipy~=1.16.0
scikit-learn~=1.7.0
pyscf~=2.9.0; sys.platform != 'win32'
python-sat~=1.8.dev16
gem-suite~=0.1.6
ffsim~=0.0.57; sys.platform != 'win32'
sympy~=1.14.0
