# This code is a Qiskit project.
#
# (C) Copyright IBM 2023.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Lint
on: [pull_request, merge_group]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.repository_owner == 'Qiskit'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install Node.js dependencies
        run: npm ci
      - name: Install ImageMagick
        run: |
          sudo apt-get install -y imagemagick
          sudo ln -s /usr/bin/convert /usr/bin/magick
      - name: Install Playwright
        run: npx playwright install

      - name: Check markdown
        run: npm run check:markdown
      - name: Spellcheck
        run: npm run check:spelling
      - name: Check Qiskit bot config
        run: npm run check:qiskit-bot
      - name: Check Patterns index
        run: npm run check:patterns-index
      - name: Check tutorials index
        run: python scripts/ci/check-tutorials-index.py
      - name: Internal link checker
        run: npm run check:internal-links
      - name: Check orphaned pages
        run: npm run check:orphan-pages
      - name: Check stale images
        run: npm run check:stale-images
      - name: Formatting
        run: npm run check:fmt
      - name: Typecheck
        run: npm run typecheck
      - name: Infrastructure tests
        run: npm test

      - name: Get all changed docs files
        id: all-changed-files
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          files: "{docs,learning}/**/*.{md,mdx,ipynb}"
          separator: "\n"
          write_output_files: true

      - name: Pull preview image
        if: steps.all-changed-files.outputs.any_changed == 'true'
        run: ./start --pull-only
      - name: Start local Docker preview (cloud app)
        if: steps.all-changed-files.outputs.any_changed == 'true'
        run: |
          ./start --apis &
          sleep 1
      - name: Check that pages render
        if: steps.all-changed-files.outputs.any_changed == 'true'
        run: |
          npm run check:pages-render -- --from-file .github/outputs/all_changed_files.txt
      - name: Check that Katex expressions render
        if: steps.all-changed-files.outputs.any_changed == 'true'
        run: |
          npm run check:katex-render -- --from-file .github/outputs/all_changed_files.txt
      - name: Stop Docker preview
        if: steps.all-changed-files.outputs.any_changed == 'true'
        run: docker ps -q | xargs docker stop

      - name: Setup Python environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          ibm-cloud-token: ${{ secrets.IBM_CLOUD_TEST_TOKEN }}
          instance: ${{ vars.IBM_CLOUD_TEST_CRN }}

      - name: Check all notebooks are listed in the config file
        run: python scripts/ci/check-all-notebooks-are-tested.py

      - name: Lint notebooks
        shell: python
        run: |
          import subprocess, sys
          try:
            subprocess.run(["tox", "-e", "lint"], check=True)
          except:
            print(
              "Error while linting notebook. "
              "To fix, install tox and run `tox -e fix`."
            )
            sys.exit(1)
  notebook-test:
    name: Execute notebooks
    if: github.repository_owner == 'Qiskit'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get relevant changed files
        id: all-changed
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          files: "{{docs,learning}/**/*.ipynb,scripts/nb-tester/**/*,.github/workflows/notebook-test.yml}"
          separator: "\n"
          write_output_files: true

      - name: Check if extra linux deps needed
        id: check-deps
        shell: python
        run: |
          # Add your notebook to this list if it needs latex or graphviz to run
          EXTRA_DEPS_NOTEBOOKS = """\
          docs/guides/visualize-circuits.ipynb
          docs/guides/custom-backend.ipynb
          docs/guides/transpiler-stages.ipynb
          docs/guides/represent-quantum-computers.ipynb
          docs/guides/common-parameters.ipynb
          docs/guides/DAG-representation.ipynb
          """.strip().split("\n")
          import os
          github_output = os.getenv("GITHUB_OUTPUT")
          all_files = """${{ steps.all-changed.outputs.all_changed_files }}""".split("\n")

          config_changed = any(path.startswith("scripts/") or path.startswith(".github") for path in all_files)
          extra_deps = config_changed or any(path in EXTRA_DEPS_NOTEBOOKS for path in all_files)

          with open(github_output, "a") as output:
            output.write(f"NEEDS_EXTRA_DEPS={str(extra_deps).lower()}")

      - name: Setup environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          # Install Linux deps if the specific guides were changed, or
          # if all files are being tested.
          install-linux-deps: ${{ steps.check-deps.outputs.NEEDS_EXTRA_DEPS }}
          ibm-cloud-token: ${{ secrets.IBM_CLOUD_TEST_TOKEN }}
          instance: ${{ vars.IBM_CLOUD_TEST_CRN }}

      - name: Execute notebooks
        env:
          PR_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
        run: python scripts/ci/pr-execute-notebooks.py

      - name: Detect changed notebooks
        id: changed-notebooks
        run: |
          echo "CHANGED_NOTEBOOKS<<EOF" >> $GITHUB_OUTPUT
          git diff --name-only >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload executed notebooks
        uses: actions/upload-artifact@v4
        with:
          name: Executed notebooks
          path: ${{ steps.changed-notebooks.outputs.CHANGED_NOTEBOOKS || 'no-changes' }}
  api-checks:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'Qiskit'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install Node.js dependencies
        run: npm ci
      - name: Check internal links
        run: >
          npm run check:internal-links --
          --current-apis
          --dev-apis
          --historical-apis
          --qiskit-legacy-release-notes
      - name: Check for orphan pages
        run: npm run check:orphan-pages -- --apis
      - name: Check markdown
        run: npm run check:markdown -- --apis
