# This code is a Qiskit project.
#
# (C) Copyright IBM 2023.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Test notebooks
on:
  pull_request:
    paths:
      - "docs/**/*.ipynb"
      - "!docs/api/**/*"
  workflow_dispatch:
jobs:
  execute:
    name: Execute notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get all changed files
        id: all-changed-files
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          files: docs/**/*.ipynb
          separator: "\n"

      - name: Check for notebooks that require Linux
        id: linux-changed-files
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          # Add your notebook to this list if it needs latex or graphviz to run
          files: |
            docs/build/circuit-visualization.ipynb
            docs/build-new/circuit-visualization.ipynb
            docs/transpile/common-parameters.ipynb
            docs/transpile/representing_quantum_computers.ipynb
            docs/transpile/transpiler-stages.ipynb
            docs/transpile/custom-backend.ipynb

      - name: Setup environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          install-linux-deps: ${{ steps.linux-changed-files.outputs.any_changed }}
          ibm-quantum-token: ${{ secrets.IBM_QUANTUM_TEST_TOKEN }}

      - name: Check lint
        shell: python
        run: |
          import subprocess, sys
          files = """${{ steps.all-changed-files.outputs.all_changed_files }}"""
          args = ["tox", "-e", "lint", "--"] + files.split("\n")
          try:
            subprocess.run(args, check=True)
          except:
            print(
              "To fix, install `tox` and run `tox -e fix` or download the fixed "
              "notebook from this run by clicking \"Summary\" on the upper-left "
              "of this page, and downloading the \"Executed notebooks\" artifact."
              "\n\n"
              "For more information, see https://github.com/Qiskit/documentation/blob/main/README.md#lint-notebooks"
            )
            sys.exit(1)

      - name: Execute notebooks
        if: "!cancelled()"
        shell: python
        run: |
          import subprocess
          files = """${{ steps.all-changed-files.outputs.all_changed_files }}"""
          args = ["tox", "--"] + files.split("\n") + ["--write"]
          subprocess.run(args, check=True)

      - name: Upload executed notebooks
        if: "!cancelled()"
        uses: actions/upload-artifact@v4
        with:
          name: Executed notebooks
          path: ${{ steps.all-changed-files.outputs.all_changed_files }}
