# This code is a Qiskit project.
#
# (C) Copyright IBM 2023.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Test notebooks
on:
  pull_request:
  workflow_dispatch:
jobs:
  check_paths:
    name: Decide whether to run
    if: github.repository_owner == 'Qiskit'
    runs-on: ubuntu-latest
    outputs:
      SHOULD_RUN: ${{ steps.filter.SHOULD_RUN }}
      FILES_TO_RUN: ${{ steps.filter.FILES_TO_RUN }}
      NEEDS_EXTRA_DEPS: ${{ steps.filter.NEEDS_EXTRA_DEPS }}
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          separator: "\n"
          write_output_files: true
      - name: Run path filtering
        id: filter
        run: python scripts/ci/notebook-path-filtering.py

  execute:
    name: Execute notebooks
    needs: [check_paths]
    if: github.repository_owner == 'Qiskit' && jobs.check_paths.outputs.SHOULD_RUN == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          install-linux-deps: ${{ jobs.check_paths.outputs.NEEDS_EXTRA_DEPS }}
          ibm-cloud-token: ${{ secrets.IBM_CLOUD_TEST_TOKEN }}
          instance: ${{ vars.IBM_CLOUD_TEST_CRN }}

      - name: Execute notebooks
        env:
          PR_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
        run: python scripts/ci/pr-execute-notebooks.py "${{ jobs.check_paths.outputs.FILES_TO_RUN }}"

      - name: Detect changed notebooks
        id: changed-notebooks
        run: |
          echo "CHANGED_NOTEBOOKS<<EOF" >> $GITHUB_OUTPUT
          git diff --name-only >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload executed notebooks
        uses: actions/upload-artifact@v4
        with:
          name: Executed notebooks
          path: ${{ steps.changed-notebooks.outputs.CHANGED_NOTEBOOKS || 'no-changes' }}
