# This code is a Qiskit project.
#
# (C) Copyright IBM 2024.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Test notebooks with test-eagle
on:
  workflow_dispatch:
jobs:
  execute:
    name: Execute notebooks with test-eagle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          ibm-cloud-token: ${{ secrets.IBM_CLOUD_TEST_TOKEN }}
          instance: ${{ vars.IBM_CLOUD_TEST_CRN }}
          install-linux-deps: true

      - name: Execute notebooks
        run: tox -- --test-strategy extended
