# This code is a Qiskit project.
#
# (C) Copyright IBM 2023.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Test notebooks
on:
  pull_request:
    paths:
      - "docs/**/*.ipynb"
      - "!docs/api/**/*"
      - "scripts/nb-tester/**/*"
  workflow_dispatch:
jobs:
  execute:
    name: Execute notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get all changed notebooks
        id: all-changed-notebooks
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          files: "docs/**/*.ipynb"
          separator: "\n"
      - name: Get changed config files
        id: changed-config
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          files: "scripts/nb-tester/**/*"
      - name: Check for notebooks that require Linux
        id: linux-changed-files
        uses: tj-actions/changed-files@af2816c65436325c50621100d67f6e853cd1b0f1
        with:
          # Add your notebook to this list if it needs latex or graphviz to run
          files: |
            docs/guides/visualize-circuits.ipynb
            docs/guides/custom-backend.ipynb
            docs/guides/transpiler-stages.ipynb
            docs/guides/represent-quantum-computers.ipynb
            docs/guides/common-parameters.ipynb

      - name: Setup environment
        uses: ./.github/actions/set-up-notebook-testing
        with:
          # Install Linux deps if the specific guides were changed, or
          # if all files are being tested.
          install-linux-deps: ${{ steps.linux-changed-files.outputs.any_changed == 'true' || steps.changed-config.outputs.any_changed == 'true' }}
          ibm-quantum-token: ${{ secrets.IBM_QUANTUM_TEST_TOKEN }}

      - name: Execute notebooks
        if: ${{ success() && !cancelled() }}
        shell: python
        env:
          PR_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
        run: |
          import os
          import subprocess
          changed_notebooks = """${{ steps.all-changed-notebooks.outputs.all_changed_files }}"""
          changed_config = """${{ steps.changed-config.outputs.all_changed_files }}"""
          args = ["tox", "--", "--write"]
          if changed_notebooks and not changed_config:
              args.extend(changed_notebooks.split("\n"))
          if os.environ["PR_REPOSITORY"] != os.environ["GITHUB_REPOSITORY"]:
              args.append("--is-fork")
          subprocess.run(args, check=True)

      - name: Detect changed notebooks
        id: changed-notebooks
        if: ${{ success() && !cancelled() }}
        run: |
          echo "CHANGED_NOTEBOOKS<<EOF" >> $GITHUB_OUTPUT
          git diff --name-only >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload executed notebooks
        if: ${{ success() && !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: Executed notebooks
          path: ${{ steps.changed-notebooks.outputs.CHANGED_NOTEBOOKS || 'no-changes' }}
